.game_winner {
    color: dodgerblue;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.game_err {
    color: red;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.game_square {
    appearance: none;
    background-color: white;
    border: 1px black solid;
    border-radius: 0px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    margin: 0;
    width: 60px;
}

.game_row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.game_reset {
    background-color: #fff;
    border-color: #8f24d4;
    border-radius: 5px;
    color: #8f24d4;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto 0;
    padding: 10px;
    width: 200px;
}